*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

/* menu-conatiner */
.menu-container{
    height: 4rem;
    background-color: lightpink;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.5rem;
}

.menu-container *{
    border: 1px solid;
    height:60%;
}

.font-size{
    width: 5%;
}

.font-family{
    width: 21%;
}

.bui-container{
    width: 21%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bui-container *{
    width:30%;
    height:80%;
    text-align: center;
}

.align-container{
    width: 14%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.align-container *{
    width:30%;
    height:80%;
    text-align: center;
}

.color-container{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color-container *{
    width: 45%;
    height: 80%;
}

.nos-container{
    display: flex;
    align-items: center;
    width: 20%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nos-container>*{
    border: none;
    cursor: pointer;
}

.new{
    margin-right: 1.5rem;
}

/* formula-container */
.formula-container{
    height: 2rem;
    background-color: lightcoral;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formula-container *{
    height: 70%;
}

.address-input{
    width:4rem;
}

.formula-input{
    width:calc(100vw - 6rem);
}  

/* grid-container */
.grid-container{
    height: calc( 100vh - ( 4rem + 2rem + 2rem ) );
    background-color: lightgreen;
    overflow: auto;
    position: relative;
}

.modal-container{
    height: 25vh;
    width: 40vw;
    top: calc((100vh - 25vh)/2 - 8rem);
    left: calc((100vw - 40vw)/2);
    background-color: rgb(62, 62, 62);
    position: absolute;
    display: none;
    justify-content: center;
    border-radius: 0.8rem;
    box-shadow: 0px 12px 9px 4px rgba(0, 0, 0, .3);
}

.modal-name__conatiner{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1.3rem;
    padding-bottom: 1rem;
    border-radius: 0.8rem;
}

#file-name{
    width: 45%;
    height: 2rem;
}

.ext{
    width: 10%;
    height: 2rem;
    font-size: 1rem;
    font-family: sans-serif;
}

.saveBtn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 3px;
}

.saveBtn:hover {
  background-color: white;
  color: black;
}

.closeBtn{
    background-color: #ee6462; /* Green */
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 3px;
}

.closeBtn:hover {
  background-color: white;
  color: black;
}

label{
    font-size: 1.5rem;
    color: white;
    font-family: sans-serif;
}

.box{
    height: 2rem;
    width:2rem;
    border:1px solid;
    text-align: center;
}

.left_box{
    background-color:gray;
}

.top_row{
    top: 0;
    left: 2rem;
    height:2rem;
    display:flex;
    position: absolute;
}

.grid{
    top: 2rem;
    left: 2rem;
    position: absolute;
    background-color: lightblue;
}

.cell{
    border: 1px solid;
    height: 2rem;
    min-width: 4rem;
    text-align: center;
}

.dStyle{
    font-family: sans-serif;
    font-size: 12px;
}

.row{
    display: flex;
}

/* sheets-container */
.sheets-container{
    height: 2rem;
    background-color: lightblue;
    display: flex;
}

.add-sheet_btn-container{
    height: 100%;
    width: 3rem;
    border: 1px solid;
    padding-top: 0.4rem;
    padding-left: 0.5rem;
}

.sheet-list{
    width: calc( 100vw - 3rem );
    border: 1px solid;
    display: flex;
    overflow: auto;
}

.sheet-list::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.sheet-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sheet{
    min-width: 5rem;
    height: 100%;
    background-color: gray;
    border: 1px solid blue;
    text-align: center;
    padding-top: 0.35rem;
}

.active{
    background-color: white;
}

.active-btn{
    background-color: rgb(99, 98, 98);
    color: white;
}