*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

/* menu-conatiner */
.menu-container{
    height: 4rem;
    background-color: lightpink;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.5rem;
}

.menu-container *{
    border: 1px solid;
    height:60%;
}

.font-size{
    width: 5%;
}

.font-family{
    width: 21%;
}

.bui-container{
    width: 21%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bui-container *{
    width:30%;
    height:80%;
    text-align: center;
}

.align-container{
    width: 14%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.align-container *{
    width:30%;
    height:80%;
    text-align: center;
}

.color-container{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color-container *{
    width: 45%;
    height: 80%;
}

/* formula-container */
.formula-container{
    height: 2rem;
    background-color: lightcoral;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formula-container *{
    height: 70%;
}

.address-input{
    width:4rem;
}

.formula-input{
    width:calc(100vw - 6rem);
}  

/* grid-container */
.grid-container{
    height: calc( 100vh - ( 4rem + 2rem + 2rem ) );
    background-color: lightgreen;
    overflow: auto;
    position: relative;
}

.box{
    height: 2rem;
    width:2rem;
    border:1px solid;
    text-align: center;
}

.left_box{
    background-color:gray;
}

.top_row{
    top: 0;
    left: 2rem;
    height:2rem;
    display:flex;
    position: absolute;
}

.grid{
    top: 2rem;
    left: 2rem;
    position: absolute;
    background-color: lightblue;
}

.cell{
    border: 1px solid;
    height: 2rem;
    min-width: 4rem;
    text-align: center;
}

.row{
    display: flex;
}

/* sheets-container */
.sheets-container{
    height: 2rem;
    background-color: lightblue;
    display: flex;
}

.add-sheet_btn-container{
    height: 100%;
    width: 3rem;
    border: 1px solid;
    padding-top: 0.4rem;
    padding-left: 0.5rem;
}

.sheet-list{
    width: calc( 100vw - 3rem );
    border: 1px solid;
    display: flex;
    overflow: auto;
}

.sheet-list::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.sheet-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sheet{
    min-width: 5rem;
    height: 100%;
    background-color: gray;
    border: 1px solid blue;
    text-align: center;
    padding-top: 0.35rem;
}

.active{
    background-color: white;
}